[submodule "Bento/vendor/spdlog"]
	path = Bento/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Bento/vendor/GLFW"]
	path = Bento/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
